<div class="row" style="background-color:black">
	<div class="col-md-8">
		<iframe id = "player_id" width = "{{width}}" height = "{{height}}" ng-src = "{{video_link(playlist_videos.items[0].contentDetails.videoId)}}" frameborder = "0">
		</iframe>
	</div>
	<div class="col-md-4 col-md-pull-1" style="color:white; padding-top:10px" style="display: inline-block;">
		<div id="player_id2"></div>
		<div ng-repeat = "item in playlist_videos.items">
			<img ng-src="{{item.snippet.thumbnails.default.url}}" height="item.snippet.thumbnails.default.height" width="{{item.snippet.thumbnails.default.width}}" style="margin-right:10px; float:left;">
			<br>
			<p style="padding-left:3px;">{{item.snippet.title}}</p>
			<hr>
		</div>
	</div>	
</div>